<!doctype html>
<html>
    <head>
        <title>Flock</title>
        <link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/3.0.2/normalize.css">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../static/css/flat-ui.css">
        <link rel="stylesheet" type="text/css" href="../static/css/flat-ui.css.map">
        <link rel="stylesheet" type="text/css" href="../static/css/flat-ui.min.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <script src="../static/js/flat-ui.js"></script>
        <script src="../static/js/html5shiv.js"></script>
        <script src="../static/js/npm.js"></script>
        <script src="../static/js/respond.min.js"></script>
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>