{% extends "base.html" %}
{% block content %}
<div id="search-container">
    <h2 id="search">Search</h2>
    <form action="{{ url_for('yelp_search') }}" method="POST" class="search-box">
    <input class="search-input float-left" type="text" size="30" placeholder="Restaurants" name="term">
    <input class="search-input float-right" type="text" size="20" placeholder="Chicago" name="location">
    <button class="blue-button" type="submit" value="Search">Search</button>
    </form>
    <div id="stage" class="stage">
        <div id="clouds" class="stage" style="min-width: 900px;"></div>
        <div id="hill2" class="stage" style="min-width: 900px;"></div>
        <div id="hill1" class="stage" style="min-width: 900px;"></div>
    </div>
</div>
{% endblock %}